<div class="panel panel-imoveis">
    <div class="panel-header">
        <h2 class="bold text-responsive-center black-text">Cadastrar Imóvel</h2>
        <small class="text-responsive-center">Preencha as etapas a seguir para cadastrar seu imóvel</small>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="wizard col-sm-12">
                <div class="wizard-inner">
                    <div class="connecting-line connecting-line-left active"></div>
                    <div class="connecting-line connecting-line-center"></div>
                    <div class="connecting-line connecting-line-right"></div>
                    <ul class="nav nav-tabs no-border">
                        <li id="addressForm" class="active" ui-sref-active="active">
                            <a title="Endereço">
                                                    <span class="round-tab">
                                                        <i class="glyphicon glyphicon-home"></i>
                                                    </span>
                                                </a>
                        </li>

                        <li id="detailsForm" class="disabled" ui-sref-active="active">
                            <a title="Detalhes">
                                                    <span class="round-tab">
                                                        <i class="glyphicon glyphicon-list-alt"></i>
                                                    </span>
                                                </a>
                        </li>
                        <li id="imagesForm" class="disabled" ui-sref-active="active">
                            <a title="Imagens">
                                                    <span class="round-tab">
                                                        <i class="glyphicon glyphicon-picture"></i>
                                                    </span>
                                                </a>
                        </li>
                    </ul>
                </div>

                <form name="formProperty" id="form-views" ng-submit="processForm()">

                    <div id="form-views" ui-view>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>