<div class="form-group col-md-6">
    <label for="street">Tipo do Imóvel</label>
    <select class="form-control redondend-border" name="street" >
        <option value="">A</option>
    </select>
</div>

<div class="form-group col-md-6">
    <label for="street">Área Útil (m²)</label>
    <input type="number" class="form-control redondend-border" name="street" >
</div>
<div class="form-group col-md-6">
    <label for="street">Dormitórios</label>
    <input type="number" class="form-control redondend-border" name="street" >
</div>
<div class="form-group col-md-6">
    <label for="street">Quantas são Suíte?</label>
    <input type="number" class="form-control redondend-border" name="street" >
</div>
<div class="form-group col-md-6">
    <label for="street">Banheiros</label>
    <input type="number" class="form-control redondend-border" name="street" >
</div>
<div class="form-group col-md-6">
    <label for="street">Andar do Imóvel</label>
    <input type="number" class="form-control redondend-border" name="street" >
</div>
<div class="form-group col-md-6">
    <label for="street">Vagas Cobertas</label>
    <input type="number" class="form-control redondend-border" name="street" >
</div>
<div class="form-group col-md-6">
    <label for="street">Vagas Descobertas</label>
    <input type="number" class="form-control redondend-border" name="street" >
</div>

<div class="checkbox col-sm-6">
    <label><input type="checkbox" value="">Aceita animais de estimação?</label>
</div>

<div class="checkbox col-sm-6" style="margin-top: 10px;">
    <label><input type="checkbox" value="">O transporte público é perto?</label>
</div>

<div class="checkbox col-sm-12">
    <label><input type="checkbox" value="">Este apartamento será alugado mobiliado?</label>
</div>

<h3 class="black-text col-sm-12">Informações Adicionais</h3>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <h5>Do Imóvel</h5>

            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="Apartamento cobertura">Apartamento cobertura</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="Ar condicionado">Ar condicionado</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="3">Armários embutidos no quarto</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="4">Armários na cozinha</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="5">Armários nos banheiros</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="6">Banheira de hidromassagem</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="7">Banheira de serviço</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="8">Box blindex</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="9">Fogão incluso</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="10">Geladeira inclusa</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="11">Piscina privativa</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="12">Quarto de serviço</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="13">Quarto extra reversível</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="14">Varanda Gourmet</label>
            </div>
        </div>
        <div class="col-sm-6">
            <h5>Do Condomínio</h5>

            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="15">Academia</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="16">Elevador</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="17">Gás encanado</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="18">Perto do metrô ou trem</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="19">Piscina</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="20">Playground</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="21">Porteiro 24 horas</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="22">Quadra Esportiva</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="23">Salão de Festas</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="24">Churrasqueira</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="25">Espaço gourmet na área comum</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="26">Lavanderia no prédio</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="" ng-model="extraInfos" value="27">Sauna</label>
            </div>

        </div>
    </div>
</div>



<div class="form-group row">
    <div class="col-xs-3 col-xs-offset-9">
        <a ui-sref="cadastrarImovel.images" class="btn btn-block bg-green">
    Próximo <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
</div>