<h4 align="center" class="black-text">Fotos</h4>
<div class="input-div col-sm-12">
    <label class="fileContainer">
            <span class="input-span">Clique ou solte a imagem aqui!</span>
            <input type="file" img-cropper-fileread image="cropper.sourceImage" />
    </label>
</div>

<div class="col-sm-12" ng-show="images.length !== 0">
    <h4 class="black-text">Imagens:</h4>
    <div class="col-sm-3 div-thumbnail" ng-repeat="im in images">
        <img ng-src="{{im.base64}}" class="img-thumbnail" width="200" height="200">
        <button type="button" ng-click="deleteImage($index, im.id)" class="btn btn-redounded">
            <span class="glyphicon glyphicon glyphicon-remove font-size-20"></span>
        </button>
    </div>
</div>

<div ng-include="'views/profile/property_registration/_cropp_modal.html'"></div>

<div class="form-group row">
    <div class="col-md-8 col-md-offset-4">
        <div class="col-md-6">
            <a ui-sref="cadastrarImovel.details" class="btn btn-block bg-green">
                Anterior <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-block bg-green">
                Próximo <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
        </div>
    </div>
</div>