<h4 class="black-text">Coloque a baixo os valores pretendidos para seu aluguel</h4>
<div class="form-group col-md-6 h110">
    <label for="value">Valor do Aluguel </label>
    <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input type="text" class="form-control redondend-border" format="number" minvalue name="value" ng-model="rental.value"  ng-value="rental.value" required>
    </div>
    <div ng-show="checked || fillRental || formProperty.value.$touched">
        <p ng-show="formProperty.value.$error.minval" class="help-block error">Valor inválido.</p>
        <p ng-show="formProperty.value.$error.required" class="help-block error">Valor do Aluguel é obrigatório.</p>
    </div>
    <small>Valor do aluguel mínimo R$ 800,00</small>
</div>

<div class="form-group col-md-6 h110">
    <label for="condominium">Valor do condomínio</label>
    <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input type="text" class="form-control redondend-border" format="number" name="condominium" ng-model="rental.condominium" ng-value="rental.condominium"
            required>
    </div>
    <div ng-show="checked || fillRental || formProperty.condominium.$touched">
        <p ng-show="formProperty.condominium.$error.required" class="help-block error">Valor do condomínio é obrigatório.</p>
    </div>
</div>


<div class="form-group col-md-6 h110">
    <label for="iptu_type">Tipo do IPTU</label>
    <input type="text" class="form-control redondend-border" name="iptu_type" ng-model="rental.iptu_type" ng-value="rental.iptu_type"
        disabled>
    <div ng-show="checked || fillRental || formProperty.iptu_type.$touched">
        <p ng-show="formProperty.iptu_type.$error.required" class="help-block error">Tipo do IPTU é obrigatório.</p>
    </div>
    <label><input type="checkbox" name="iptu_included" ng-model="rental.iptu_included" ng-click="iptuSelect()">IPTU incluso no aluguel</label>
</div>

<div class="form-group col-md-6 h110">
    <label for="iptu_value">Valor do IPTU</label>
    <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input type="text" class="form-control redondend-border" format="number" name="iptu" ng-model="rental.iptu" ng-value="rental.iptu"
            ng-disabled="rental.iptu_included === true">
    </div>
</div>

<!-- <div class="form-group col-md-6">
    <label for="safe">Valor de seguro-fiança</label>
    <div class="input-group">
        <span class="input-group-addon">R$</span>
        <input type="number" class="form-control redondend-border" format="number" name="safe" ng-model="rental.safe" required>
    </div>
    <div ng-show="fillRental || formProperty.safe.$touched">
        <p ng-show="formProperty.safe.$error.required" class="help-block error">Valor de seguro-fiança é obrigatório.</p>
    </div>
    <small>Valor fixo calculado sobre o valor do aluguel</small>
</div> -->
<div class="form-group col-md-12 text-center">
    <span class="rental-btn" ng-click="checkValue(formProperty.$valid)">Clique para consultar o valor do anúncio.</span>
</div>
<div>
    <div class="form-group col-md-12">
        <h4 class="black-text">Valor total do anúncio: {{package_value | currency:"R$"}}</h4>
    </div>

    <div class="form-group col-md-12">
        <h5 class="black-text">Como vai ficar para mim, proprietário?</h5>
        <div class="col-md-6 bordered-rental-div">
            <div class="rental-header text-center">
                <span class="black-text">1º aluguel</span>
            </div>
            <div class="rental-body">
                <span>Taxa MeuAlu: {{first_alu_fee | currency:"R$"}}</span><br>
                
            </div>
            <div class="rental-footer text-center">
                <span class="black-text">Valor líquido {{first_net_value | currency:"R$"}}</span>
            </div>
        </div>
        <div class="col-md-6 bordered-rental-div">
            <div class="rental-header text-center">
                <span class="black-text">A partir do 2º aluguel</span>
            </div>
            <div class="rental-body">
                <span>Taxa MeuAlu: {{others_alu_fee | currency:"R$"}}</span><br>
                
            </div>
            <div class="rental-footer text-center">
                <span class="black-text">Valor líquido {{others_net_value | currency:"R$"}}</span>
            </div>
        </div>
    </div>
</div>

<div class="form-group row">
    <div class="col-xs-12 col-md-8 col-md-offset-4">
        <div class="col-md-6">
            <a ui-sref="perfil.cadastrarImovel.advertisement" class="btn btn-block bg-green" ng-click="backForm()">
                Anterior <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-block bg-green" ng-click="processRental(formProperty.$valid)">
                Próximo <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
        </div>
    </div>
</div>