<h4 align="center" class="black-text">Detalhes</h4>
<div class="form-group col-md-6">
    <label for="type">Tipo do Imóvel</label>
    <select class="form-control redondend-border" name="type" ng-model="propertie.type">
        <option value="A">A</option>
        <option value="B">B</option>
    </select>
</div>

<div class="form-group col-md-6">
    <label for="total_area">Área Útil (m²) (*)  </label>
    <input type="number" class="form-control redondend-border" name="total_area" ng-model="propertie.total_area" required>
    <div ng-show="fillDetails || formProperty.total_area.$touched">
        <p ng-show="formProperty.total_area.$error.required" class="help-block error">Área total é obrigatório.</p>
    </div>
</div>
<div class="form-group col-md-6">
    <label for="bedrooms">Dormitórios</label>
    <input type="number" class="form-control redondend-border" name="bedrooms" ng-model="propertie.bedrooms" required>
    <div ng-show="fillDetails || formProperty.bedrooms.$touched">
        <p ng-show="formProperty.bedrooms.$error.required" class="help-block error">Dormitórios é obrigatório.</p>
    </div>
</div>
<div class="form-group col-md-6">
    <label for="suites">Quantas são Suíte?</label>
    <input type="number" class="form-control redondend-border" name="suites" ng-model="propertie.suites" required>
    <div ng-show="fillDetails || formProperty.suites.$touched">
        <p ng-show="formProperty.suites.$error.required" class="help-block error">Suítes é obrigatório.</p>
    </div>
</div>
<div class="form-group col-md-6">
    <label for="bathrooms">Banheiros</label>
    <input type="number" class="form-control redondend-border" name="bathrooms" ng-model="propertie.bathrooms" required>
    <div ng-show="fillDetails || formProperty.bathrooms.$touched">
        <p ng-show="formProperty.bathrooms.$error.required" class="help-block error">Banheiros é obrigatório.</p>
    </div>
</div>
<div class="form-group col-md-6">
    <label for="floor">Andar do Imóvel</label>
    <input type="number" class="form-control redondend-border" name="floor" ng-model="propertie.floor" required>
    <div ng-show="fillDetails || formProperty.floor.$touched">
        <p ng-show="formProperty.floor.$error.required" class="help-block error">Andar é obrigatório.</p>
    </div>
</div>
<div class="form-group col-md-6">
    <label for="garages">Vagas Cobertas</label>
    <input type="number" class="form-control redondend-border" name="garages" ng-model="propertie.garages" required>
    <div ng-show="fillDetails || formProperty.garages.$touched">
        <p ng-show="formProperty.garages.$error.required" class="help-block error">Vagas Cobertas é obrigatório.</p>
    </div>
</div>
<div class="form-group col-md-6">
    <label for="not_covered_garages">Vagas Descobertas</label>
    <input type="number" class="form-control redondend-border" name="not_covered_garages" ng-model="propertie.not_covered_garages"
        required>
    <div ng-show="fillDetails || formProperty.not_covered_garages.$touched">
        <p ng-show="formProperty.not_covered_garages.$error.required" class="help-block error">Vagas Descobertas é obrigatório.</p>
    </div>
</div>

<div class="form-group checkbox padding-15 col-sm-6">
    <label><input type="checkbox" name="pets_allowed" ng-model="propertie.pets_allowed" >Aceita animais de estimação?</label>
</div>

<div class="form-group checkbox padding-15 col-sm-6" style="margin-top: 10px;">
    <label><input type="checkbox" name="public_transportation" ng-model="propertie.public_transportation" >O transporte público é perto?</label>
</div>

<div class="form-group checkbox padding-15 col-sm-12">
    <label><input type="checkbox" name="furniture" ng-model="propertie.furniture" required>Este apartamento será alugado mobiliado?</label>
</div>

<h3 class="black-text col-sm-12">Informações Adicionais</h3>

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <h5>Do Imóvel</h5>

            <div class="checkbox" ng-repeat="p in propertyInfos">
                <label>
                    <input type="checkbox" ng-value="p.id"
                    ng-click="toggleSelection(p)">
                    {{p.description}}
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <h5>Do Condomínio</h5>

            <div class="checkbox" ng-repeat="c in condominiumInfos">
                <label>
                    <input type="checkbox" ng-value="c.id"
                    ng-click="toggleSelection(c)">{{c.description}}</label>
            </div>

        </div>
    </div>
</div>



<div class="form-group row">
    <div class="col-md-8 col-md-offset-4">
        <div class="col-md-6">
            <a ui-sref="perfil.cadastrarImovel.address" class="btn btn-block bg-green" ng-click="backForm()">
                Anterior <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-block bg-green" ng-click="processDetails(formProperty.$valid)">
                Próximo <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
        </div>
    </div>
</div>