<div class="form-group col-md-12">
    <label for="description">Descrição Curta do Imóvel</label>
    <input type="text" class="form-control redondend-border" name="description" ng-model="propertie.description" placeholder="Ex: Charmoso Apê no Moinho de Vento" required>
    <div ng-show="fillAddress || formProperty.description.$touched">
        <p ng-show="formProperty.description.$error.required" class="help-block error">Descrição é obrigatório.</p>
    </div>
</div>

<div class="form-group col-md-12" ng-controller="propertyRegistrationController">
    <label for="number">Rua</label>
    <input g-places-autocomplete type="text" class="form-control redondend-border" name="address" options="autocompleteOptions"
        ng-model="address" autocomplete="off" force-selection="true" 
        placeholder="Busque por rua ou bairro" 
        ng-change="searchAdress()"
        required>
    <div ng-show="fillAddress || formProperty.address.$touched">
        <p ng-show="formProperty.address.$error.required" class="help-block error">Endereço é obrigatório.</p>
    </div>
</div>

<div class="form-group col-md-6">
    <label for="number">Número</label>
    <input type="number" class="form-control redondend-border" name="number" ng-model="formAdress.number">
</div>

<div class="form-group col-md-6">
    <label for="complement">Complemento</label>
    <input type="text" class="form-control redondend-border" name="complement" ng-model="formAdress.complement">
</div>

<div class="form-group row">
    <div class="col-xs-3 col-xs-offset-9">
        <a class="btn btn-block bg-green" ng-click="processAdress(formProperty.address.$valid && formProperty.description.$valid)">
    Próximo <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
</div>