<section class="bg-green footer-heigth">
  <div class="container p-t-40">
    <div class="col-md-3">
      <!--<img src="assets/imagens/icones/logo_branco.png" class="img-responsive logo-heigth">-->
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-uppercase text-purple bold">acesse</h5>
          <ul class="ul-footer">
            <li>
              <a href="#">Buscar imóveis</a>
            </li>
            <li>
              <a href="#">Anúnciar imóveis</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase text-purple bold">como funciona</h5>
          <ul class="ul-footer">
            <li>
              <a href="#">Corretor</a>
            </li>
            <li>
              <a href="#">Locatário</a>
            </li>
            <li>
              <a href="#">Anunciante</a>
            </li>
            <li>
              <a href="#">Indicação</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase text-purple bold">meualu</h5>
          <ul class="ul-footer">
            <li>
              <a href="#">Institucional</a>
            </li>
            <li>
              <a href="#">Imprensa</a>
            </li>
            <li>
              <a href="#">Contato</a>
            </li>
            <li>
              <a href="#">Trabalhe conosco</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h5 class="text-uppercase text-purple bold">siga-nos</h5>
      <i class="fa fa-facebook m-r-30"></i>
      <i class="fa fa-twitter m-r-30"></i>
      <i class="fa fa-google-plus-official m-r-30"></i>
    </div>
  </div>
</section>
