<div class="panel panel-default">
    <div class="panel-imoveis">
        <div class="panel-header">
            <h2 class="bold text-dark text-responsive-center">Editar Perfil</h2>
        </div>
        <div class="panel-body panel-body-edit">
            <form name="formEdit" ng-submit="edit(formEdit.$valid)" novalidate>
                <div class="form-row">
                    <div class="form-group form-edit-profile col-md-6">
                        <label for="firstName">Primeiro Nome</label>
                        <input type="text" class="form-control" id="firstName" ng-model="user.first_name" name="firstName" required>
                        <div ng-show="formEdit.$submitted || formEdit.firstName.$touched">
                            <p ng-show="formEdit.firstName.$error.required" class="help-block error">Nome é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-6">
                        <label for="lastName">Sobrenome</label>
                        <input type="text" class="form-control" id="lastName" ng-model="user.last_name" name="lastName" required>
                        <div ng-show="formEdit.$submitted || formEdit.lastName.$touched">
                            <p ng-show="formEdit.lastName.$error.required" class="help-block error">Sobrenome é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-6">
                        <label for="sex">Sexo</label>
                        <select name="sex" class="form-control" ng-model="user.sex" required>
                            <option selected="selected" disabled value="">Selecione o sexo</option>
                            <option ng-repeat="option in sexOptions" value="{{option.value}}"
                            ng-selected="option.value === user.sex"
                            >{{option.label}}</option>
                        </select>
                        <div ng-show="formEdit.$submitted || formEdit.sex.$touched">
                            <p ng-show="formEdit.sex.$error.required" class="help-block error">Sexo é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-6">
                        <label for="birthday">Data de Nascimento</label>
                        <input type="date" class="form-control" id="birthday" name="birthday" ng-model="user.birthday" required>
                        <div ng-show="formEdit.$submitted || formEdit.birthday.$touched">
                            <p ng-show="formEdit.birthday.$error.required" class="help-block error">Data de nascimento é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-12">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" name="inputEmail" ng-model="user.email" required>
                        <div ng-show="formEdit.$submitted || formEdit.inputEmail.$touched">
                            <p ng-show="formEdit.inputEmail.$error.required" class="help-block error">Email é obrigatório.</p>
                            <p ng-show="formEdit.inputEmail.$error.email" class="help-block error">Email não é válido.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-6">
                        <label for="phone">Telefone Celular</label>
                        <input type="text" class="form-control" id="phone" name="phone" ng-model="user.phone_primary" required>
                        <div ng-show="formEdit.$submitted || formEdit.phone.$touched">
                            <p ng-show="formEdit.phone.$error.required" class="help-block error">Telefone é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-6">
                        <label for="phone_secondary">Telefone Celular 2 (Opcional)</label>
                        <input type="text" class="form-control" id="phone_secondary" name="phone_secondary" ng-model="user.phone_secondary">
                    </div>
                    <div class="form-group form-edit-profile col-md-4">
                        <label for="cep">CEP</label>
                        <input type="text" class="form-control" id="cep" name="cep" ng-model="user.address.zip_code" ng-change="searchCep(user.address.zip_code)"
                            required>
                        <div ng-show="formEdit.$submitted || formEdit.cep.$touched">
                            <p ng-show="formEdit.cep.$error.required" class="help-block error">CEP é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-4">
                        <label for="city">Cidade</label>
                        <input type="text" class="form-control" id="city" name="city" ng-model="user.address.city" required>
                        <div ng-show="formEdit.$submitted || formEdit.city.$touched">
                            <p ng-show="formEdit.city.$error.required" class="help-block error">Cidade é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-4">
                        <label for="city">Estado</label>
                        <input type="text" class="form-control" id="state" name="state" ng-model="user.address.state" required>
                        <div ng-show="formEdit.$submitted || formEdit.state.$touched">
                            <p ng-show="formEdit.state.$error.required" class="help-block error">Estado é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-12">
                        <label for="street">Endereço</label>
                        <input type="text" class="form-control" id="street" name="street" ng-model="user.address.street" required>
                        <div ng-show="formEdit.$submitted || formEdit.street.$touched">
                            <p ng-show="formEdit.street.$error.required" class="help-block error">Endereço é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-5">
                        <label for="district">Bairro</label>
                        <input type="text" class="form-control" id="district" name="district" ng-model="user.address.district" required>
                        <div ng-show="formEdit.$submitted || formEdit.district.$touched">
                            <p ng-show="formEdit.district.$error.required" class="help-block error">Bairro é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-2">
                        <label for="number">Número</label>
                        <input type="number" class="form-control" id="number" name="number" ng-model="user.address.number" required>
                        <div ng-show="formEdit.$submitted || formEdit.number.$touched">
                            <p ng-show="formEdit.number.$error.required" class="help-block error">Número é obrigatório.</p>
                        </div>
                    </div>
                    <div class="form-group form-edit-profile col-md-5">
                        <label for="complement">Complemento</label>
                        <input type="text" class="form-control" id="complement" name="complement" ng-model="user.address.complement">
                    </div>
                    <div class="form-group  col-md-12">
                        <label for="about">Descreva-se</label>
                        <textarea class="form-control" id="about" rows="3" ng-model="user.about"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <p class="form-text text-muted text-center">A Alu é construída a partir de relacionamentos. Ajude outras pessoas a saber um pouco mais sobre
                            você.
                        </p>
                    </div>
                </div>
                <button type="submit" class="btn btn-send-contato btn-success pull-right">Enviar</button>
                <img ng-if="!response" src="assets/imagens/loading.gif" width="50" height="50" class="pull-right loading-img">
            </form>
        </div>
    </div>
</div>