<div class="panel panel-imoveis">
    <div class="panel-header">
        <h2 class="bold text-responsive-center">Imóveis Cadastrados</h2>
    </div>
    <div class="panel-body">

        <div class="col-sm-12 panel-ngFor-divs" ng-repeat="property in properties">
            <div class="col-md-5 responsive-properties-div">
                <div class="div-properties-details">
                    <button type="button" class="fa fa-trash pull-right"></button>
                    <button type="button" class="fa fa-edit pull-right"></button>
                    <h4 class="text-dark">{{ property.full_address }}</h4>
                    <p>{{property.address}}</p>
                    <ul class="properties-details">
                        <li><i class="fa fa-bed"></i> {{ property.bedrooms }} dorms</li>
                        <li><i class="fa fa-car"></i> {{ property.garages }} vagas</li>
                        <li><i class="fa fa-regua"></i> {{ property.total_area }} m²</li>
                    </ul>
                </div>
                <div class="properties-price">
                    <p class="text-green font-size-20">
                        Aluguel: R$ {{ property.rental | currency }}
                    </p>
                    <p class="text-green font-size-20">
                        Valor total: R$ {{ property.total_rental | currency }}
                    </p>
                </div>
            </div>
            <div class="col-md-7 no-padding responsive-properties-div">
                <img ng-src="{{property.img_url}}" class="img-bordered img-responsive" alt="Responsive image">
            </div>
        </div>

    </div>
</div>