<div class="panel panel-imoveis">
    <div class="panel-header">
        <h2 class="bold text-responsive-center">Imóveis Cadastrados</h2>
    </div>
    <div class="panel-body">
        <span class="col-sm-12" ng-show="noPropertie">{{noPropertie}}</span>
        <div class="col-sm-12 panel-ngFor-divs" ng-repeat="property in properties">
            <div class="col-md-6 no-padding responsive-properties-div">
                <img ng-src="{{property.pictures[0].URL}}" class="img-bordered img-responsive">
            </div>
            <div class="col-md-6 responsive-properties-div">
                <div class="div-properties-details">
                    <button type="button" class="fa fa-trash pull-right" ng-click="deleteProperty(property.id)"></button>
                    <!-- <button type="button" class="fa fa-edit pull-right"></button> -->
                    <h4 class="text-dark">{{ property.full_address }}</h4>
                    <p>{{property.address.street}} , {{property.address.number}} , {{property.address.district}}</p>
                    <p>{{property.address.city}} / {{property.address.state}}</p>
                    <ul class="properties-details" style="padding-left:0px">
                        <li><i class="fa fa-bed"></i> {{ property.bedrooms }} dorms</li>
                        <li><i class="fa fa-car"></i> {{ property.garages }} vagas</li>
                        <li><i class="fa fa-regua"></i> {{ property.total_area }} m²</li>
                    </ul>
                </div>
                <div class="properties-price">
                    <p class="text-green font-size-20">
                        Aluguel: {{ property.rental.first_alu_fee | currency }}
                    </p>
                    <p class="text-green font-size-20">
                        Valor total: {{ property.rental.package_value | currency }}
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>