<div class="panel panel-imoveis">
    <div class="panel-header">
        <h2 class="bold text-responsive-center">Imóveis Cadastrados</h2>
    </div>
    <div class="panel-body">
        <img ng-show="!hasProperties" src="assets/imagens/loading.gif" width="100" height="100" class="loading-img" style="position:relative;left:50%;transform:translateX(-50%)">
        <span class="col-sm-12" ng-show="noPropertie">{{noPropertie}}</span>
        <div class="col-sm-12 panel-ngFor-divs" dir-paginate="property in properties|itemsPerPage:5">
            <div class="col-md-6 no-padding responsive-properties-div" ng-click="details(property.id)">
                <div class="box">
                    <img ng-src="{{property.pictures[0].url}}" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 responsive-properties-div">
                <div class="div-properties-details">
                    <a class="pull-right" ng-click="getPropertyId(property.id,$index)">
                        <i class="fa fa-trash"></i>
                    </a>
                    <a type="button" class="pull-right" ng-click="getProperty(property,$index)">
                        <i class="fa fa-edit"></i>
                    </a>
                    <h3 class="black-text" style="margin-top: 0px;">{{ property.description }}</h3>
                    <h4 class="text-dark">{{ property.full_address }}</h4>
                    <p>{{property.address.street}} , {{property.address.number}} , {{property.address.district}}</p>
                    <p>{{property.address.city}} / {{property.address.state}}</p>
                    <ul class="properties-details" style="padding-left:0px">
                        <li><i class="fa fa-bed"></i> {{ property.bedrooms }} dorms</li>
                        <li><i class="fa fa-car"></i> {{ property.garages }} vagas</li>
                        <li><i class="fa fa-regua"></i> {{ property.total_area }} m²</li>
                    </ul>
                </div>
                <div class="properties-price">
                    <p class="text-green font-size-20">
                        Aluguel: {{ property.rental.first_net_value | currency }}
                    </p>
                    <p class="text-green font-size-20">
                        Valor total: {{ property.rental.package_value | currency }}
                    </p>
                </div>
            </div>
        </div>
        <dir-pagination-controls max-size="4" boundary-links="true" class="pull-right"></dir-pagination-controls>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalDeleteProperty">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-green">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-center upcase">EXCLUIR IMÓVEL</h3>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que deseja exluir este imóvel?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-transparent" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" ng-click="deleteProperty(idToDelete,positionToDelete)" ng-disabled="!deleteRequest">Excluir</button>
                <img ng-if="!deleteRequest" src="assets/imagens/loading.gif" width="50" height="50" class="pull-right loading-img">
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalRentalProperty">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="formProperty" id="form-views" ng-submit="editProperty(formProperty.$valid,positionToEdit,idToEdit)">
                <div class="modal-header bg-green">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center upcase">EDITAR VALOR DO IMÓVEL</h3>
                </div>

                <div class="modal-body">


                    <h4 class="black-text">Coloque a baixo os valores pretendidos para seu aluguel</h4>
                    <div class="form-group col-md-6 h110">
                        <label for="value">Valor do Aluguel </label>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input type="text" class="form-control redondend-border" format="number" minvalue maxvalue name="value" ng-model="rental.value" ng-value="rental.value"
                                required>
                        </div>
                        <div ng-show="formProperty.$submitted || formProperty.value.$touched">
                            <p ng-show="formProperty.value.$error.minval || formProperty.value.$error.maxval" class="help-block error">Valor inválido.</p>
                            <p ng-show="formProperty.value.$error.required" class="help-block error">Valor do Aluguel é obrigatório.</p>
                        </div>
                        <small>Valor do aluguel min R$ 800,00 e max de R$ 10.000</small>
                    </div>

                    <div class="form-group col-md-6 h110">
                        <label for="condominium">Valor do condomínio</label>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input type="text" class="form-control redondend-border" format="number" name="condominium" ng-model="rental.condominium"
                                ng-value="rental.condominium" required>
                        </div>
                        <div ng-show="formProperty.$submitted || formProperty.condominium.$touched">
                            <p ng-show="formProperty.condominium.$error.required" class="help-block error">Valor do condomínio é obrigatório.</p>
                        </div>
                    </div>


                    <div class="form-group col-md-6 h110">
                        <label for="iptu_type">Tipo do IPTU</label>
                        <input type="text" class="form-control redondend-border" name="iptu_type" ng-model="rental.iptu_type" ng-value="rental.iptu_type"
                            disabled>
                        <div ng-show="formProperty.$submitted || formProperty.iptu_type.$touched">
                            <p ng-show="formProperty.iptu_type.$error.required" class="help-block error">Tipo do IPTU é obrigatório.</p>
                        </div>
                        <label><input type="checkbox" name="iptu_included" ng-model="rental.iptu_included" ng-click="iptuSelect()">IPTU incluso no aluguel</label>
                    </div>

                    <div class="form-group col-md-6 h110">
                        <label for="iptu_value">Valor do IPTU</label>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input type="text" class="form-control redondend-border" format="number" name="iptu" ng-model="rental.iptu" ng-value="rental.iptu"
                                ng-disabled="rental.iptu_included === true">
                        </div>
                    </div>
                    <div class="form-group col-md-12 text-center">
                        <span class="rental-btn" ng-click="checkValue(formProperty.$valid)">Clique para consultar o valor do anúncio.</span>
                    </div>
                    <div>
                        <div class="form-group col-md-12">
                            <h4 class="black-text">Valor total do anúncio: {{package_value | currency:"R$"}}</h4>
                        </div>

                        <div class="form-group col-md-12">
                            <h5 class="black-text">Como vai ficar para mim, proprietário?</h5>
                            <div class="col-md-6 bordered-rental-div">
                                <div class="rental-header text-center">
                                    <span class="black-text">1º aluguel</span>
                                </div>
                                <div class="rental-body">
                                    <span>Taxa MeuAlu: {{first_alu_fee | currency:"R$"}}</span><br>

                                </div>
                                <div class="rental-footer text-center">
                                    <span class="black-text">Valor líquido {{first_net_value | currency:"R$"}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 bordered-rental-div">
                                <div class="rental-header text-center">
                                    <span class="black-text">A partir do 2º aluguel</span>
                                </div>
                                <div class="rental-body">
                                    <span>Taxa MeuAlu: {{others_alu_fee | currency:"R$"}}</span><br>

                                </div>
                                <div class="rental-footer text-center">
                                    <span class="black-text">Valor líquido {{others_net_value | currency:"R$"}}</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-transparent" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="!checked">Editar</button>
                    <img ng-if="!editRequest" src="assets/imagens/loading.gif" width="50" height="50" class="pull-right loading-img">
                </div>
            </form>
        </div>
    </div>
</div>
