<div class="panel panel-imoveis">
    <div class="panel-header">
        <h2 class="bold text-responsive-center">Visitas Marcadas</h2>
    </div>
    <ul class="nav nav-tabs nav-justified">
        <li class="active tab-schedule" ui-sref-active="active"><a ui-sref="perfil.scheduleds.renter">Quero Visitar</a></li>
        <li ui-sref-active="active" class="tab-schedule"><a ui-sref="perfil.scheduleds.landlord">Proposta de Visitas</a></li>
    </ul>

    <div ui-view>

    </div>



</div>
<style>
    .schuled-visits {
        font-size: 18px !important;
    }

    .schuled-btn {
        background: #fff;
        border: 1px solid #000 !important;
        font-family: 'Circular std book', sans-serif !important;
    }

    .p15 {
        padding: 15px;
    }

    .p-r-6 {
        padding: 15px 6px 0 0 !important;
    }

    .p-l-6 {
        padding: 15px 0 0 6px !important;
    }

    .modal-footer {
        border-top: none !important;
    }

    .tab-schedule.active>a{
        color:#5f447b !important;
    }
    .tab-schedule>a{
        color: #67b7b4;
    }

    @media(max-width:992px) {
        .schuled-visits {
            text-align: center;
            padding: 15px 0 15px 0;
        }

        .p-r-6 {
            padding: 15px 0 0 0 !important;
        }

        .p-l-6 {
            padding: 15px 0 0 0 !important;
        }
    }
</style>