<div class="panel panel-imoveis">
    <div class="panel-header">
        <h2 class="bold text-responsive-center">Visitas Marcadas</h2>
    </div>
    <div class="panel-body">
        <img ng-show="!hasProperties" src="assets/imagens/loading.gif" width="100" height="100" class="loading-img" style="position:relative;left:50%;transform:translateX(-50%)">
        <span class="col-sm-12" ng-show="noPropertie">{{noPropertie}}</span>
        <div class="col-sm-12 panel-ngFor-divs" ng-repeat="v in properties">
            <div class="col-md-5 no-padding">
                <img ng-src="{{v.pictures[0].url}}" class="img-bordered img-responsive" style="max-width: 100%">
            </div>
            <div class="col-md-7">
                <div class="schuled-visits">
                    <div class="col-md-12">
                        <span class="black-text" style="text-transform:capitalize">{{v.date | date:"EEE"}}({{v.date | date:"dd/MM"}}) às {{v.date | date :"HH:mm"}} hrs</span>
                    </div>
                    <div class="col-md-12">
                        <strong>{{v.property.description}}</strong>
                    </div>
                    <div class="col-md-12">
                        <span>{{v.address.street}}, {{v.address.number}}, {{v.address.district}}</span>
                        <span>{{v.address.city}}/{{v.address.state}}</span>
                    </div>
                </div>
                <div class="col-md-12 schuled-btns text-center">
                    <div class="col-md-6 p-r-6">
                        <button type="button" class="btn btn-block schuled-btn" ng-click="openReasons()">Cancelar Visita</button>
                    </div>
  <!--                   <div class="col-md-6 p-l-6">
                        <button type="button" class="btn btn-block schuled-btn">Remarcar Visita</button>
                    </div> -->
                </div>
           
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="cancelScheduled">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="formCancel" ng-submit="send()" novalidate>
                <div class="modal-header bg-green">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title text-center upcase">Cancelar Visita</h3>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <label>
                        <input type="radio" name="reason" value="Este imóvel acabou de ser alugado." ng-model="cancelReason">
                        Este imóvel acabou de ser alugado.
                    </label>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="radio" name="reason" value=" O proprietário teve um imprevisto." ng-model="cancelReason">
                            O proprietário teve um imprevisto.
                        </label>
                    </div>

                    <div class="form-group">
                        <label>
                            <input type="radio" name="reason" value="other" ng-model="cancelReason">
                            Outro:
                        </label>
                        <textarea class="col-md-12 m-b-30" rows="4" ng-show="cancelReason === 'other'" ng-model="otherReason"></textarea>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-transparent" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-danger">Cancelar</button>
                    <!-- <img ng-if="!deleteRequest" src="assets/imagens/loading.gif" width="50" height="50" class="pull-right loading-img"> -->
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .schuled-visits {
        font-size: 18px !important;
    }

    .schuled-btn {
        background: #fff;
        border: 1px solid #000 !important;
        font-family: 'Circular std book', sans-serif !important;
    }

    .p-r-6 {
        padding: 15px 6px 0 0 !important;
    }

    .p-l-6 {
        padding: 15px 0 0 6px !important;
    }

    .modal-footer {
        border-top: none !important;
    }

    @media(max-width:992px) {
        .schuled-visits {
            text-align: center;
            padding: 15px 0 15px 0;
        }

        .p-r-6 {
            padding: 15px 0 0 0 !important;
        }

        .p-l-6 {
            padding: 15px 0 0 0 !important;
        }
    }
</style>