<div class="col-sm-12">
    <h4 align="center" class="black-text">Termos de Uso</h4>
    <div id="termsId" class="terms" scrolly="readedTerms()">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut nisl pharetra, tincidunt odio in, efficitur sapien. Integer
            neque mauris, cursus ut neque a, auctor fringilla ligula. Donec rhoncus lorem non porttitor iaculis. Vivamus
            a felis elit. Sed blandit nisi ac arcu molestie efficitur. Donec efficitur, odio vel mattis pellentesque, ex
            sapien fringilla leo, in varius nulla tortor vitae lorem. Aenean scelerisque eget libero sollicitudin porttitor.
            Maecenas sollicitudin a arcu ut ultricies. Quisque molestie in erat vitae malesuada. Proin et urna sit amet nisi
            tincidunt tincidunt. Curabitur accumsan suscipit quam, quis posuere dolor gravida a. Vestibulum tempor iaculis
            lorem, ut sollicitudin risus hendrerit at. Maecenas justo mauris, hendrerit vitae blandit nec, consectetur non
            nibh. In in blandit diam. Morbi auctor lacus eget volutpat malesuada. Aliquam erat volutpat.
        </p>
        <p>
            Fusce aliquet nisl ut odio tempus, vel convallis nisi interdum. Maecenas ultricies purus pulvinar, porttitor libero condimentum,
            varius augue. Aenean euismod mi ipsum. Nam imperdiet metus vel purus scelerisque commodo. Cras posuere felis
            quis leo vestibulum, a dapibus lectus sollicitudin. Sed sed varius enim. Maecenas eu porta leo. Praesent pretium
            sollicitudin leo, ut dignissim diam vehicula eget. Vivamus velit dolor, tempor et augue et, lacinia aliquet nibh.
            Suspendisse neque ex, maximus sit amet interdum vitae, condimentum at quam. Proin dictum eleifend justo, aliquet
            suscipit ligula posuere eu. In mollis ligula elit, ac convallis sapien fermentum et. Proin quis odio est. Quisque
            malesuada viverra est non dictum. Proin hendrerit consectetur lectus, a dignissim turpis vehicula et. Donec placerat
            est et volutpat porta.
        </p>
        <p>
            Praesent at aliquet tortor, non euismod massa. Proin porta justo at mauris tincidunt convallis. Vivamus non neque non eros
            fermentum vulputate vel quis risus. Vestibulum ut sapien orci. Fusce ante ipsum, feugiat sed lectus at, posuere
            laoreet neque. Duis ut nunc arcu. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Duis non ipsum lobortis, posuere quam eu, accumsan leo. Suspendisse finibus justo at justo vestibulum, ac porttitor
            nisi egestas.
        </p>
        <p>
            Vestibulum venenatis ut arcu id elementum. Nullam fermentum odio in lacus accumsan, ut molestie arcu porttitor. Vivamus sodales
            sapien nec justo semper vestibulum. Fusce rutrum ex eu sagittis semper. Aenean feugiat blandit nulla, vitae sagittis
            nulla sagittis at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In
            malesuada facilisis nisi non dignissim. Curabitur hendrerit condimentum quam eget ultricies. Phasellus condimentum
            ex ultricies nunc aliquet mollis. Morbi accumsan lobortis elementum. Aliquam arcu nisl, dictum eu porttitor a,
            pharetra a justo. Suspendisse laoreet facilisis velit. Nunc eu risus sed nisi blandit facilisis. Curabitur facilisis
            egestas sollicitudin. Vivamus varius nisl ac velit finibus, sed luctus eros imperdiet. Morbi tincidunt ipsum
            vehicula quam bibendum feugiat.
        </p>
        <p>
            Vestibulum quis dapibus lacus. Duis iaculis vitae felis non tincidunt. Praesent in mauris eu orci dictum bibendum in ac sem.
            Morbi quis ipsum dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            Cras nunc sapien, pulvinar ut luctus ut, dictum id sem. Suspendisse potenti. Vestibulum commodo in justo at condimentum.
            Nullam diam nisi, dictum a ex in, commodo vehicula ante. Proin ac condimentum felis. Etiam congue nulla nec arcu
            viverra mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        </p>
        <p>
            Ut blandit tempor elit, et tincidunt quam tincidunt ac. In pellentesque pellentesque rhoncus. Phasellus interdum, justo id
            consequat luctus, diam est sollicitudin ante, vel euismod ex mi id orci. Nulla et massa eu eros facilisis dictum
            id vel eros. Integer aliquet vitae mi quis condimentum. Suspendisse accumsan sapien sit amet libero sodales sollicitudin.
            Sed faucibus et felis eget ullamcorper. Curabitur ultricies justo sed est efficitur, eu pulvinar nunc facilisis.
            Vestibulum volutpat metus non mi efficitur elementum. Sed molestie arcu sed arcu facilisis, ac tincidunt nisi
            posuere. Nunc volutpat sapien aliquet lacinia ornare. Quisque facilisis metus vitae ligula ultrices, a dictum
            felis aliquam. Nunc nec nisl nec nulla molestie vulputate. Aenean facilisis nibh vel dui laoreet, ut malesuada
            neque ullamcorper. Nam est magna, sollicitudin quis efficitur at, bibendum ullamcorper sem.
        </p>
        <p>
            Sed varius commodo felis, id fermentum quam consequat eu. Etiam et vulputate nulla, sed dictum arcu. Phasellus eget ligula
            massa. Ut interdum lobortis sodales. Donec tincidunt tempor congue. Duis venenatis semper mi, in suscipit eros
            vehicula vitae. Phasellus eros est, pharetra vel orci a, laoreet euismod ligula.
        </p>
        <p>
            Nulla rutrum, lectus vitae pellentesque semper, neque sapien laoreet arcu, eu sagittis purus nibh a neque. Nullam placerat
            justo et augue hendrerit dictum. Proin mattis, tellus ac facilisis consectetur, ipsum tellus molestie dolor,
            eget pharetra neque leo vel enim. Vestibulum semper, orci vel ornare mollis, justo mauris ornare nisl, eu viverra
            ex ipsum eget urna. Etiam volutpat porttitor sem vel cursus. Vestibulum placerat risus commodo tellus consequat,
            nec luctus leo feugiat. In fringilla interdum risus a accumsan. Aliquam vel finibus risus, quis maximus erat.
            Praesent elementum, erat id lobortis ultrices, ipsum tellus rhoncus tellus, ac ornare sem justo id tellus.
        </p>
        <p>
            Curabitur lobortis accumsan purus, in tincidunt quam cursus quis. Mauris aliquam dignissim malesuada. Suspendisse potenti.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris quam ligula, eleifend
            vitae ex sit amet, sagittis lobortis dolor. Proin felis felis, fringilla in felis quis, facilisis fringilla risus.
            Nunc mollis metus at elementum fermentum. Donec rutrum nisl ornare vestibulum hendrerit.
        </p>
        <p>
            Duis sem quam, semper vel massa ut, feugiat lobortis mi. Maecenas fermentum ac metus nec blandit. Donec in risus luctus metus
            semper lobortis. Morbi quis nibh sit amet sem porttitor laoreet. Suspendisse lorem mi, vestibulum id tortor quis,
            lacinia tempus sapien. Aenean ac scelerisque nulla. Maecenas ac interdum massa. Sed mattis mi vel purus facilisis
            facilisis. Nunc risus enim, pellentesque vel ex vitae, dictum finibus urna. Sed a pretium augue.
        </p>
        <p>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean lacinia malesuada iaculis.
            Nunc laoreet, neque vel fringilla imperdiet, justo dui mollis arcu, sit amet gravida massa ligula sed est. Nunc
            ultrices massa magna, a posuere orci euismod et. In hac habitasse platea dictumst. Praesent dapibus ante id enim
            venenatis, ac ornare velit sodales. Sed ut sapien sagittis, convallis tortor vel, convallis est. Cras vulputate
            velit non orci tempor, sed bibendum lorem mattis. Vivamus sit amet mi non felis facilisis suscipit sit amet at
            massa. Phasellus blandit erat eget venenatis congue. Mauris a feugiat risus. Nunc ut nunc est. Mauris cursus
            eros eget accumsan tincidunt. Nam dictum ultricies diam, eget accumsan tellus placerat sed.
        </p>
        <p>
            Sed condimentum quam at maximus vulputate. Pellentesque in risus libero. Quisque egestas erat augue, sit amet mollis arcu
            hendrerit eget. Donec vulputate sem ultricies varius ullamcorper. Nam vitae massa at turpis auctor sagittis.
            Curabitur mollis volutpat sapien sed vestibulum. Proin mauris ligula, ultricies eu mattis egestas, luctus vel
            justo. Curabitur urna quam, euismod a ornare quis, faucibus dictum neque. Aenean quis nunc et enim venenatis
            dignissim ac sed turpis. Aliquam lacinia viverra nisi, ut fermentum ante hendrerit eget. Duis eget ante est.
            Quisque condimentum, purus at pretium fringilla, eros nisl elementum mi, ut tempus tellus odio quis augue. Integer
            eu odio ac nibh accumsan tincidunt sed et velit. Fusce consectetur sem sem, quis laoreet orci porta eget. Donec
            vitae ipsum vitae diam maximus pulvinar vitae quis dolor. Phasellus ultricies non velit eget tempor.
        </p>
        <p>
            Vestibulum pretium urna velit, sed aliquet tellus iaculis tempor. Vivamus quis libero pretium, euismod felis at, ultricies
            magna. Vestibulum condimentum odio sit amet rhoncus placerat. Vestibulum tempus fermentum dolor, quis fringilla
            est commodo in. Cras sed sapien nisl. Morbi ornare sem quis vestibulum mollis. Morbi varius fermentum est, non
            placerat dolor consequat eget. Etiam aliquet lectus nec placerat porta. Proin aliquet ut justo pharetra tincidunt.
            Nulla sed maximus metus, vel placerat elit. Nam vel placerat felis. Fusce sit amet erat eu lorem semper venenatis.
            Aenean commodo sem et lectus mollis gravida. Nulla viverra commodo est, eu luctus sapien laoreet vitae. Suspendisse
            potenti.
        </p>
        <p>
            Sed id ligula malesuada, sodales magna non, aliquam libero. Nam id tempor ante, et scelerisque nisi. Integer ligula dui,
            fringilla non quam hendrerit, consequat vestibulum nisi. Nulla eget sagittis ex. Donec aliquam sollicitudin nisl,
            in placerat nisl lobortis ut. Fusce porttitor mollis mauris vel viverra. Sed auctor eget lacus vitae egestas.
            Vestibulum bibendum ut velit vel finibus. Donec interdum massa at metus sollicitudin pulvinar. Pellentesque dictum
            turpis enim, sed porta lacus elementum et. Praesent pharetra metus sed ligula condimentum ornare. Ut quis luctus
            nibh.
        </p>
        <p>
            Quisque lacinia, est at sagittis gravida, massa justo lobortis orci, quis bibendum eros quam in ipsum. Sed cursus enim in
            turpis tempus, vitae varius tellus ullamcorper. Mauris non sodales arcu, id commodo nisi. Quisque vitae vehicula
            enim. Donec auctor bibendum mi, at ultricies felis elementum in. Proin condimentum vehicula diam in ullamcorper.
            Cras volutpat mollis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet dignissim
            erat. Duis suscipit efficitur venenatis. Cras euismod arcu quis odio pellentesque, non tincidunt elit convallis.
            Vivamus condimentum neque nulla, eget suscipit felis laoreet sed. Ut tortor enim, facilisis a metus id, laoreet
            accumsan nisi.
        </p>
    </div>
    <div class="form-group checkbox padding-15 col-md-6">
        <label>
            <input type="checkbox" name="acceptTerms" ng-model="acceptTerms" required>Aceitar termos de uso.
        </label>
        <div ng-show="!acceptTerms">
            <p ng-show="formProperty.acceptTerms.$error.required" class="help-block error">É necessário aceitar os termos de uso para continuar.</p>
        </div>
    </div>
</div>


<div class="form-group row">
    <div class="col-md-8 col-md-offset-4 m-t-20">
        <div class="col-md-6">
            <a ui-sref="perfil.cadastrarImovel.images" class="btn btn-block bg-green" ng-click="backForm()">
                Anterior <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-block bg-green" ng-disabled="!readTerms || !acceptTerms">
                Salvar <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
        </div>
    </div>