<script type="text/ng-template" id="comecarModal.html">
  <div class="modal-header bg-green">
    <button ng-click="close()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title text-center upcase">TORNE-ME UM PROPRIETÁRIO</h3>
  </div>
  <div class="modal-body row text-gray">
    <div class="col-md-12">
      <form name="formAdd" ng-submit="create(formAdd.$valid)" class="form-horizontal" novalidate>
        <div class="form-group m-b-10">
          <div class=" col-md-6">
            <input type="text" name="first_name" ng-model="contact.first_name" class="form-control input-lg" placeholder="Nome" required>
            <div ng-show="formAdd.$submitted || formAdd.first_name.$touched">
              <p ng-show="formAdd.first_name.$error.required" class="help-block error">Nome é obrigatório.</p>
            </div>
          </div>
          <div class=" col-md-6">
            <input type="text" name="last_name" ng-model="contact.last_name" class="form-control input-lg" placeholder="sobrenome" required>
            <div ng-show="formAdd.$submitted || formAdd.last_name.$touched">
              <p ng-show="formAdd.last_name.$error.required" class="help-block error">Sobrenome é obrigatório.</p>
            </div>
          </div>
        </div>
        <div class="form-group m-b-10">
          <div class=" col-md-6">
            <input type="text" name="phone" number-only ng-model="contact.phone" class="form-control input-lg" placeholder="Telefone" required>
            <div ng-show="formAdd.$submitted || formAdd.phone.$touched">
              <p ng-show="formAdd.phone.$error.required" class="help-block error">Telefone é obrigatório.</p>
            </div>
          </div>
          <div class=" col-md-6">
            <input type="email" name="email" ng-model="contact.email" class="form-control input-lg" placeholder="E-mail" required>
            <div ng-show="formAdd.$submitted || formAdd.email.$touched">
              <p ng-show="formAdd.email.$error.required" class="help-block error">Email é obrigatório.</p>
              <p ng-show="formAdd.email.$error.email" class="help-block error">Email não é válido.</p>
            </div>
          </div>
        </div>
        <div class="form-group m-b-10">
          <div class=" col-md-12">
            <textarea type="text" name="massage" ng-model="contact.message" class="form-control input-lg" id="message" placeholder="Mensagem"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <button type="submit" class="btn btn-block btn-lg btn-green login">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</script>
