<div class="modal redondend-border" tabindex="-1" role="dialog" id="modalRecover" ng-controller="UserResetPassword">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-green redondend-border">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center">Recuperar Senha</h3>
      </div>
      <div class="modal-body row text-gray">
        <div class="col-md-10 col-md-offset-1">
          <form name="formRecover" ng-submit="recover(formRecover.$valid)" class="form-horizontal">
            <div class="form-group m-b-10">
              <div class=" col-md-12">
                <input type="email" name="email" ng-model="email" class="form-control input-lg redondend-border" placeholder="E-mail" required>
                <div ng-show="formRecover.$submitted || formRecover.email.$touched">
                  <p ng-show="formRecover.email.$error.required" class="help-block error">Email é obrigatório.</p>
                  <p ng-show="formRecover.email.$error.email" class="help-block error">Email não é válido.</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <button type="submit" class="btn btn-block btn-lg btn-green login redondend-border" ng-disabled="!response">Recuperar</button>
                <img ng-if="!response" src="https://s3.amazonaws.com/meualu-bucket/app_images/icones/loading.gif" width="50" height="50" class="loading-img img-center">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
