<section class="full-heigth text-white bg-yellow bg-couple font-18">
  <div class="container-video">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
            <img src="assets/imagens/icones/logo_alu_amarelo.png" class="img-responsive logo-heigth">
          </a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-8">
          <ul class="nav navbar-nav">
            <li class="bold text-uppercase"><a class="text-yellow" href="#">Anuncie aqui</a></li>
            <li class="bold text-uppercase"><a class="text-white" href="#">Favoritos</a></li>
            <li class="bold text-uppercase cursor-pointer" ng-hide="current_user"><a class="text-white" data-toggle="modal" data-target="#modalLogin"><i class="fa fa-user-o"></i> Entrar</a></li>
            <li class="bold text-uppercase cursor-pointer" ng-show="current_user"><a class="text-white">{{current_user.name}}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container text-center m-a" ng-controller="searchController">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="bold">Você também acha o aluguel algo complicado? <br> Junte-se a nós.</h1>
          <input g-places-autocomplete
                 ng-model="address"
                 options="autocompleteOptions"
                 force-selection="true"
                 type="text"
                 class="form-control search-home m-t-30">
          </input>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="pull-left">
        <i class="fa fa-facebook m-r-30 fa"></i>
        <i class="fa fa-twitter m-r-30 fa"></i>
        <i class="fa fa-instagram m-r-30 fa"></i>
      </div>
      <!--<div class="pull-right">
        <img src="assets/imagens/icones/chat.png" class="img-responsive chat-logo">
      </div>-->
    </div>
  </div>
</section>
<section class="section-how-it-works">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/imagens/icones/predio.png" >
      </div>
      <div class="col-md-6">
        <div class="m-t-90">
          <h1 class="text-yellow my-header bold">Como <br> funciona?</h1>
        </div>
        <div class="owl-carousel owl-theme m-t-30">
          <div class="item">
            <p class="font-18">
              Encontre apartamentos disponíveis para alugar, veja se combina com o que você procura e precisa, navegue pelo mapa e explore a sua próxima região.
            </p>
          </div>
          <div class="item">
            <p class="font-18">
              Depois que encontrar as melhores opções, agende uma visita pelo site mesmo. O proprietário ou um corretor irá te acompanhar nessa experiência.
            </p>
          </div>
          <div class="item">
            <p class="font-18">
              Negocie as condições direto com o proprietário pelo site e deixe a garantia com a gente. Pagamos o seguro dos nossos usuários. Não se preocupe e aproveite sua nova moradia.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-heigth bg-purple bg-man p-t-10-p" >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="my-header bold">Quer alugar o <br> seu apartamento?</h1>
        <p class="l-h-1.7 m-t-30 font-18">
          Conhecemos muitas pessoas que estão em busca de um novo lar, mais próximo do trabalho, da escola dos filhos, da faculdade. Seu imóvel pode ser perfeito para elas.
        </p>
        <p class="font-18">
          Compartilhe seu apartamento com as pessoas usando a alu e experimente a liberdade de fazer do seu jeito, a segurança de saber que receberá todo o mês garantido e a sensação de fazer a diferença. <strong>Entenda como funciona.</strong>
        </p>
        <a class="btn btn-purple m-t-30 font-18" href="#" role="button">TORNAR-ME UM LOCADOR ALU.</a>
      </div>
    </div>
  </div>
</section>
<section class="bg-green footer-heigth">
  <div class="container p-t-40">
    <div class="col-md-3">
      <!--<img src="assets/imagens/icones/logo_branco.png" class="img-responsive logo-heigth">-->
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-uppercase text-purple bold">acesse</h5>
          <ul class="ul-footer">
            <li>
              <a href="#">Buscar imóveis</a>
            </li>
            <li>
              <a href="#">Anúnciar imóveis</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase text-purple bold">como funciona</h5>
          <ul class="ul-footer">
            <li>
              <a href="#">Corretor</a>
            </li>
            <li>
              <a href="#">Locatário</a>
            </li>
            <li>
              <a href="#">Anunciante</a>
            </li>
            <li>
              <a href="#">Indicação</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 class="text-uppercase text-purple bold">meualu</h5>
          <ul class="ul-footer">
            <li>
              <a href="#">Institucional</a>
            </li>
            <li>
              <a href="#">Imprensa</a>
            </li>
            <li>
              <a href="#">Contato</a>
            </li>
            <li>
              <a href="#">Trabalhe conosco</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h5 class="text-uppercase text-purple bold">siga-nos</h5>
      <i class="fa fa-facebook m-r-30"></i>
      <i class="fa fa-twitter m-r-30"></i>
      <i class="fa fa-google-plus-official m-r-30"></i>
    </div>
  </div>
</section>
<div ng-include="'views/home/_sign_in_modal.html'"></div>
