<section class="full-heigth text-white bg-yellow bg-principal font-18">
  <div class="container-video container">
    <nav class="navbar navbar-home">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">
            <img src="assets/imagens/icones/logo_alu_amarelo_beta.png" class="img-responsive logo-heigth">
          </a>
        </div>
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-8">
          <ul class="nav navbar-nav">
            <li class="bold text-uppercase"><a class="text-yellow" href="#">Anuncie seu apê</a></li>
            <li class="bold text-uppercase cursor-pointer" ng-hide="current_user"><a class="text-white" data-toggle="modal" data-target="#modalLogin"> Login</a></li>
            <li class="bold text-uppercase cursor-pointer" ng-show="current_user"><a class="text-white">{{current_user.name}}</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="m-a" ng-controller="autoCompleteController">
      <div class="row">
        <div class="col-md-12">
          <h1 class="h1-principal">Uma nova maneira de alugar um imóvel, consizente com a realidade atual, mais fácil e ágil, desburocrática, transparente e segura.</h1>
          <div class="search-wrapper">
            <input g-places-autocomplete
                  ng-change="searchPropertie()"
                   ng-model="address"
                   options="autocompleteOptions"
                   force-selection="true"
                   type="text"
                   class="form-control search-home m-t-30">
            </input>
            <i class="fa fa-search fa-2x"></i>
          </div>
          <p class="text-center text-uppercase">encontre sua próxima moradia</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="pull-left">
        <a href="#" class="text-white" target="_blank">
          <i class="fa fa-twitter m-r-30 fa-2x"></i>
        </a>
        <a href="https://www.facebook.com/meualu/" class="text-white" target="_blank">
          <i class="fa fa-facebook-official m-r-30 fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/meualu/" class="text-white" target="_blank">
          <i class="fa fa-instagram m-r-30 fa-2x"></i>
        </a>
      </div>
      <!--<div class="pull-right">
        <img src="assets/imagens/icones/chat.png" class="img-responsive chat-logo">
      </div>-->
    </div>
  </div>
</section>
<section class="section-how-it-works">
  <div class="container">
    <div>
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-grey my-header">Como funciona</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>
          <div class="circular first">1</div>
        </h3>
        <p>
          Encontre apartamentos disponíveis para alugar, navegue pelo mapa e explore a sua próxima região.
        </p>
      </div>
      <div class="col-md-4">
        <h3>
          <div class="circular">2</div>
        </h3>
        <p>
          Assim que encontrar as melhores opções, agende uma visita pelo site mesmo. O proprietário irá te acompanhar nessa experiência.
        </p>
      </div>
      <div class="col-md-4">
        <h3>
          <div class="circular">3</div>
        </h3>
        <p>
          Negocie as condições com o proprietário direto pelo site e deixe a garantia com a gente. Pagamos o seguro dos nossos usuários. Não se preocupe, apenas aproveite sua nova moradia.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-man">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="my-header">Quer alugar <br> seu apartamento?</h1>
        <p class="l-h-1.7 m-t-30 font-18">
          Conhecemos muitas pessoas que estão em busca de um novo lar, mais próximo do trabalho, da escola dos filhos, da faculdade. Seu imóvel pode ser perfeito para elas.
        </p>
        <p class="font-18">
          Compartilhe seu apartamento com as pessoas usando a Alu e experimente a liberdade de fazer do seu jeito, a segurança de saber que receberá todo o mês garantido e a sensação de fazer a diferença. Entenda como funciona.
        </p>
        <a class="btn btn-lg btn-purple full m-t-30 font-18" href="#" role="button">TORNAR-ME UM LOCADOR ALU.</a>
      </div>
    </div>
  </div>
</section>
<div ng-include="'views/shared/_footer.html'"></div>
<div ng-include="'views/home/_sign_in_modal.html'"></div>
