<section class="text-white bg-yellow bg-proprietario font-18">
  <nav class="navbar navbar-proprietario">
    <div class="container-fluid  container">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">
          <img src="assets/imagens/icones/logo_alu_roxo_beta.png" class="img-responsive logo-heigth">
        </a>
      </div>
      <div class="navbar-search">
        <div class="search-wrapper" ng-controller="autoCompleteController">
          <i class="fa fa-search fa-1x sufix"></i>
          <input g-places-autocomplete
                ng-change="searchPropertie()"
                placeholder="Buscar no mapa"
                 ng-model="address"
                 options="autocompleteOptions"
                 force-selection="true"
                 type="text"
                 class="form-control search-header"
                 >
          </input>
        </div>

        <ul class="nav navbar-nav hidden-xs">
          <li class="bold text-uppercase">
            <a class="text-purple" ui-sref="proprietario">Anuncie seu apê</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="m-a  container">
    <div class="row">
      <div class="col-md-5 col-sm-6 col-xs-10 col-xs-offset-1 col-comecar">
        <h1>Compartilhe seu espaço mais rápido</h1>
        <p>Ganhe dinheiro sendo um Locador ALU.</p>
        <a ng-click="showModal()" class="btn btn-yellow-full lg">Começar</a>
      </div>
    </div>
  </div>
</section>
<section class="section-how-it-works full">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-green">
          <div class="circular first">1</div>
          <span>Crie anúncios exclusivos e marcantes</span>
        </h3>
        <p>
          Você preencherá uma descrição, produzirá e publicará as fotos e escolherá o seu preço. Te daremos várias dicas pra isso.
        </p>
      </div>
      <div class="col-md-12 reverse">
        <h3 class="text-green">
          <div class="circular">2</div>
          <span>Alugando mais rápido = mais dinheiro para seus objetivos</span>
        </h3>
        <p>
          Os futuros inquilinos do seu espaço navegam por filtros inteligentes e poderão marcar visitas na hora pelo site. Além disso, temos a garantia por nossa conta, trazendo mais interessados para os anúncios e agilizando todo processo.
        </p>
      </div>
      <div class="col-md-12">
        <h3 class="text-green">
          <div class="circular">3</div>
          <span>Garantia de pagamento, mesmo se o inquilino não pagar</span>
        </h3>
        <p>
          Você não vai precisar se preocupar com os recebimentos. Garantimos o pagamento do aluguel, todo mês, mesmo se o inquilino atrasar ou não pagar. Conseguimos fazer isso através do Seguro Fiança que pagamos em todos os contratos, durante todo período do aluguel.
        </p>
      </div>
      <div class="col-md-12 reverse">
        <h3 class="text-green">
          <div class="circular">4</div>
          <span>Estamos aqui para ajudar</span>
        </h3>
        <p>
          Temos várias ferramentas e recursos para ajudar você a fazer seu anúncio, tirar e publicar suas fotos, receber as visitas, assinar os contratos digitais e administrar sua locação. Conte sempre conosco.
        </p>
      </div>
      <div class="col-md-12 bg-door">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h2 class="bold">Prepare-se para conhecer seus inquilinos</h2>
          <a ng-click="showModal()" class="btn btn-yellow-full lg">Começar</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div ng-include="'views/shared/_footer.html'"></div>
<div ng-include="'views/home/_comecar_modal.html'"></div>
