<section>
    <header></header>
    <div class="container-fluid">
        <div class="row row-list-details text-gray">
            <div class="col-md-12 property-list">
                <div class="col-sm-12 col-md-2 col-lg-2 profile-details">
                    <div class="profile">
                        <div class="profile-img panel panel-default">
                            <img src="{{profile_img_url}}" class="img-responsive img-profile">
                        </div>
                        <div class="profile-header">
                            <h3 class="h3-header text-green bold">{{profile_name}}</h3>
                            <div class="profile-links">
                                <a href="#" class="links">
                                     Editar Perfil
                                </a>
                                <a href="#" class="links">
                                      Contratos
                                </a>
                                <a href="#" class="links">
                                        Cadastrar Imóvel           
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-10 col-lg-10 profile-properties-details">
                    <div class="panel panel-imoveis">
                        <div class="panel-header">
                            <h2 class="bold text-responsive-center">Imóveis Cadastrados</h2>
                        </div>
                        <div class="panel-body">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div ng-include="'views/shared/_footer.html'"></div>