<div class="modal in" tabindex="-1" role="dialog" id="modalContato">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content font-18" style="background-color: #5f447b; color: #fff; padding: 0px 20px; border-radius: 0px;">
      <div class="modal-body row">
        <div class="col-md-12">
          <p class="bold">Hey! Vejo que você está em busca de uma nova moradia, não é?!</p>
          <p>Estamos reunindo muitos apartamentos para poder te apresentar aqui no nosso mapa. Tá ficando demais!</p>
          <p>Cadastre seu email abaixo para podermos te mandar algumas dessas opções em primeira mão, que tal?</p>
        </div>
        <div class="col-md-12">
          <form style="margin-top: 20px;" name="formAdd" ng-submit="sendContato()">
            <div class="form-group row">
              <label for="contato-email" class="col-sm-6 col-form-label text-right font-18">Como posso te chamar?</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="contato-nome" placeholder="Nome" ng-model="contato.name">
              </div>
            </div>
            <div class="form-group row">
              <label for="contato-email" class="col-sm-6 col-form-label text-right font-18">Qual seu e-mail?</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="contato-email" placeholder="Email" ng-model="contato.email">
              </div>
            </div>
            <div class="form-group row">
              <label for="contato-telefone" class="col-sm-6 col-form-label text-right font-18">Qual seu telefone?</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="contato-telefone" placeholder="telefone" ng-model="contato.phone">
              </div>
            </div>
            <div class="form-group row">
              <label for="contato-estado" class="col-sm-6 col-form-label text-right font-18">Onde você está buscando apê?</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="contato-estado" placeholder="Estado" ng-model="contato.state">
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="contato-cidade" placeholder="Cidade" ng-model="contato.city">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-6 col-sm-offset-6">
                <input type="text" class="form-control" id="contato-bairro" placeholder="Bairro" ng-model="contato.district">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-default pull-right">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
