<div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Dormitórios
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li ng-repeat="bedroom in search_filters.bedrooms">
      <div class="form-check">
        <input ng-init="filterName='bedrooms';"
               id="{{bedroom.value}}_bedroom"
               type="checkbox"
               ng-model="bedroom.selected" ng-click="onFilterSelect(bedroom, filterName)">
        <label>{{bedroom.label}} Dormitório(s)</label>
      </div>
    </li>
  </ul>
</div><div class="btn-group">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Banheiros
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li ng-repeat="bathroom in search_filters.bathrooms">
      <div class="form-check">
        <input ng-init="filterName='bathrooms';"
               id="{{bathroom.value}}_bathroom"
               type="checkbox"
               ng-model="bathroom.selected" ng-click="onFilterSelect(bathroom, filterName)">
        <label>{{bathroom.label}} Banheiro(s)</label>
      </div>
    </li>
  </ul>
</div>
<pre>{{filters | json}}</pre>
