<div class="btn-group filters" role="group" aria-label="...">
  {{ filter }}
  <div class="btn-group">
    <a class="btn btn-grey dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-plus"></i>
      vagas garagem

      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu filters" ng-click="$event.stopPropagation();">
      <li>
        <div class="form-check pure-checkbox">
          <input id="1_garages"
               type="checkbox"
               ng-model="filter.garages.true"
               ng-value="1">
          <label for="1_garages">
            1
          </label>
        </div>
      </li>
      <li>
        <div class="form-check pure-checkbox">
          <input id="2_garages"
               type="checkbox"
               ng-model="filter.garages.false"
               ng-value="2">
          <label for="2_garages">
            2
          </label>
        </div>
      </li>
    </ul>
  </div>
  <div class="btn-group">
    <a class="btn btn-grey dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="fa fa-eye"></i>
      bathrooms

      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu list-inline filters" ng-click="$event.stopPropagation();" style="width: 100%;">
      <li>
        <div class="">
          <label ng-repeat="bathroom in filters.bathrooms">
            <input type="checkbox" checklist-model="filter.bathrooms" checklist-value="bathroom.value"> {{bathroom.name}}
          </label>
        </div>
      </li>
    </ul>
  </div>
</div>
