<header></header>
<section class="bg-gray">
  <div class="container-fluid">
    <div id="pictures" class="row">
      <slick arrows="false" slides-to-show="1" id="slide-full" as-nav-for="#slide-nav" arrows="false" slides-to-scroll="1">
          <div ng-repeat="img in images">
            <img src="{{img.src}}" class="img-full" alt="Responsive image">
          </div>
        </slick>
    </div>
  </div>
  <div class="container">
    <div class="row row-slider-full">
      <div class="col-md-6">
        <slick arrows="true" slides-to-show="4" id="slide-nav" as-nav-for="#slide-full" slides-to-scroll="1" infinite="false">
          <div class="image" ng-repeat="img in images">
            <img src="{{img.src}}" class="img-full" alt="Responsive image">
          </div>
        </slick>

        <h1 class="text-purple m-b-0">Rua Machado de Assis</h1>
        <h2 class="m-t-5">Jardim botanico</h2>
        <ul class="list-inline m-t-15">
          <li class="text-center">
            <i class="fa fa-percent"></i>
            <br/>
            <span>86 m²</span>
          </li>
          <li class="text-center">
            <i class="fa fa-bed"></i>
            <br/>
            <span>3 dorm</span>
          </li>
          <li class="text-center">
            <i class="fa fa-car"></i>
            <br/>
            <span>1 vaga</span>
          </li>
          <li class="text-center">
            <i class="fa fa-paw"></i>
            <br/>
            <span>Permitido</span>
          </li>
          <li class="text-center">
            <i class="fa fa-building"></i>
            <br/>
            <span>6º andar</span>
          </li>
          <li class="text-center">
            <i class="fa fa-tv"></i>
            <br/>
            <span>Não</span>
          </li>
          <li class="text-center">
            <i class="fa fa-bus"></i>
            <br/>
            <span>Proximo</span>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="panel panel-rental" scroll-to-fixed="scrollToFixedOptions" >
          <div class="panel-heading bg-yellow">
            <h1 class="rental">
              <span>Total</span>
              <span class="pull-right">R$ 3.426</span>
            </h1>
          </div>
          <div class="panel-body">
            <ul class="without-style">
              <li class="m-b-5">
                <span>Aluguel</span>
                <span class="pull-right">R$ 2.750</span>
              </li>
              <li class="m-b-5">
                <span>Condominio</span>
                <span class="pull-right">R$ 650</span>
              </li>
              <li class="m-b-5">
                <span>Proteção residencial</span>
                <span class="pull-right">R$ 26</span>
              </li>
              <li class="m-b-5">
                <span>Seguro-fiança</span>
                <span class="pull-right">Grátis</span>
              </li>
            </ul>
            <hr>
            <p class="text-center">
              Agende uma visita agora,
              <br>
              sem falar com ninguem.
            </p>
            <div class="text-center">
              <button type="button" class="btn btn-warning btn-sm">Agendar visita</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-purple">
  <div class="container p-t-30 p-b-60">
    <div class="row">
      <div class="col-md-6">
        <h4 class="bold">Apartamento</h4>
        <div class="col-md-6">
          <h5 class="bold">Espaço</h5>
          <ul class="without-style">
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5 class="bold">Comodidades</h5>
          <ul class="without-style">
            <li class="m-b-10">
              <i class="fa fa-shopping-cart m-r-5"></i>
              <span>Lorem ipsun dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <i class="fa fa-tree m-r-5"></i>
              <span>Lorem ipsun dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <i class="fa fa-subway  m-r-5"></i>
              <span>Lorem ipsun dolor sit amet</span>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <hr />
        <h4 class="bold">Condomínio</h4>
        <div class="col-md-6">
          <i class="fa fa-futbol-o m-r-5 m-b-10"></i>
          <span>Lorem ipsun dolor sit amet</span>
        </div>
        <div class="col-md-6">
          <i class="fa fa-bicycle m-r-5 m-b-10"></i>
          <span>Lorem ipsun dolor sit amet</span>
        </div>
        <div class="col-md-6">
          <i class="fa fa-umbrella m-r-5 m-b-10"></i>
          <span>Lorem ipsun dolor sit amet</span>
        </div>
        <div class="col-md-6">
          <i class="fa fa-road m-r-5 m-b-10"></i>
          <span>Lorem ipsun dolor sit amet</span>
        </div>
        <div class="col-md-6">
          <i class="fa fa-gamepad m-r-5 m-b-10"></i>
          <span>Lorem ipsun dolor sit amet</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="maps">
  <div class="container-fluid">
    <div class="row">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </div>
  </div>
</section>
<section class="bg-gray">
  <div class="container p-t-30 p-b-30">
    <div class="row">
      <h1 class="text-green text-center m-b-50">Apartamentos relacionados</h1>

      <slick arrows="true" slides-to-show="4" id="slide-nav" slides-to-scroll="1" infinite="true">
        <div class="panel panel-default properties-related" ng-repeat="propertie in properties_related">
          <div class="panel-heading properties-related">
            <img src="assets/imagens/imovel.jpg" class="img-full" alt="Responsive image">
          </div>
          <div class="panel-body properties-related">
            <h4 class="text-purple">{{propertie.address.street}}</h4>
            <p>{{propertie.address.neighborhood}}</p>
            <p>Lore ipsum morbmore this not the other thing, bla bla bla</p>
          </div>
        </div>
      </slick>
    </div>
  </div>
</section>
