<section class="full-heigth">
  <header></header>
  <div class="container-fluid">
    <nav class="navbar filters text-center">
      <div class="filters-container" ng-controller="searchController" ng-include="'views/properties/_filters.html'"></div>
    </nav>
    <div class="row row-list-details text-gray">
      <div class="col-md-5 font-14 property-list">
        <h2>
          <span class="text-green bold">Encontramos {{ properties.length }} apês</span>
          <button type="button" class="btn btn-green-full btn-sm pull-right">Adicionar alerta</button>
        </h2>
        <p>Nos ajude a ser mais preciso, utilize os filtros acima.</p>

        <div class="dropdown">
          <span>Order por</span>
          <a class="text-green dropdown-toggle" type="button" id="dropdownPreco" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            menor preço
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownPreco">
            <li><a href="#">menor preço</a></li>
            <li><a href="#">maior preço</a></li>
          </ul>
        </div>
        <div class="panel panel-default" ng-repeat="property in properties" ng-click='details(property.id)'>
          <div class="panel-body imovel-desc" >
            <div class="col-md-5">
              <h4 class="text-dark">{{ property.full_address() }} ({{ property.description }})</h4>
              <p>{{property.address.district}}</p>
              <ul class="properties-details" >
                <li> {{ property.bedrooms }} dorms</li>
                <li> {{ property.garages }} vagas</li>
                <li> {{ property.total_area }} m²</li>
              </ul>
              <hr />
              <h4 class="text-green">
                Aluguel: {{ property.rental.value }}
              </h4>
              <h4 class="text-green">
                Valor total: {{ property.total_rental() }}
              </h4>
            </div>
            <div class="col-md-7 no-padding">
              <img src="assets/imagens/imovel.jpg" class="img-full" alt="Responsive image">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 no-padding">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
      </div>
    </div>
    <!--<div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
      <div class="row">
        <div class="col-sm-12">
          <table class="table table-bordered table-hover table-striped dataTable no-footer" role="grid">
            <thead>
              <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="exampleAddRow" rowspan="1" colspan="1" aria-sort="ascending" style="width: 100px;">Id</th>
                <th class="sorting" tabindex="0" aria-controls="exampleAddRow" aria-label="Descrição" rowspan="1" colspan="1" style="width: 365px;">Descrição</th>
                <th class="sorting" tabindex="0" aria-controls="exampleAddRow" rowspan="1" colspan="1" style="width: 365px;">Endereço</th>
                <th class="sorting" tabindex="0" aria-controls="exampleAddRow" rowspan="1" colspan="1" style="width: 150px;">Área Total</th>
                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Ações" style="width: 100px;">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="property in properties" ng-init="parentIndex = $index" class="gradeA odd" role="row">
                <td class="sorting_1">{{property.id}}</td>
                <td>{{property.description}}</td>
                <td>{{property.full_address()}}</td>
                <td>{{property.total_area}} m²</td>
                <td class="actions">
                  <!-- <a href="#" class="btn btn-sm btn-icon btn-pure btn-default hidden on-editing save-row waves-effect waves-classic" data-toggle="tooltip" data-original-title="Save"><i class="icon md-wrench" aria-hidden="true"></i></a>
                  <a href="#" class="btn btn-sm btn-icon btn-pure btn-default hidden on-editing cancel-row waves-effect waves-classic" data-toggle="tooltip" data-original-title="Delete"><i class="icon md-close" aria-hidden="true"></i></a> -->
                  <!-- <a ui-sref="admin.editProperties({ id: property.id })" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row waves-effect waves-classic" data-toggle="tooltip" data-original-title="Editar"><i class="icon md-edit" aria-hidden="true"></i></a>
                  <a ui-sref="admin.deleteProperties({ id: property.id })" class="btn btn-sm btn-icon btn-pure btn-default on-default remove-row waves-effect waves-classic" data-toggle="tooltip" data-original-title="Remover"><i class="icon md-delete" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>-->
  </div>
</section>
