<!-- <pre>{{ property | json }}</pre> -->
<header></header>
<section class="bg-gray">
  <div class="container-fluid">
    <div id="pictures" class="row">
      <slick ng-if="images.length" arrows="false" slides-to-show="1" id="slide-full" arrows="false" slides-to-scroll="1" infinite="true" draggable="false">
          <div ng-repeat="img in images">
            <img ng-src="{{img.src}}" class="slider-full-img" alt="Responsive image">
          </div>
        </slick>
    </div>
  </div>
  <div class="container">
    <div class="row row-slider-full">
      <div class="col-md-6 col-sm-6 propertie-title">
        <slick ng-if="images.length" arrows="true" slides-to-show="4" id="slide-nav" as-nav-for="#slide-full" slides-to-scroll="1" infinite="true" focus-on-select="true">
          <div class="image" ng-repeat="img in images">
            <img ng-src="{{img.src}}" class="slider-nav-img" alt="Responsive image">
          </div>
        </slick>

        <h1 class="text-purple m-b-0" ng-bind=property.full_address() ></h1>
        <h2 class="m-t-5">{{ property.address.district }}</h2>
        <ul class="list-inline m-t-15">
          <li class="text-center">
            <i class="fa fa-regua"></i>
            <br/>
            <span>{{ property.total_area }} m²</span>
          </li>
          <li class="text-center">
            <i class="fa fa-bed"></i>
            <br/>
            <span>{{ property.bedrooms }} dorm</span>
          </li>
          <li class="text-center">
            <i class="fa fa-car"></i>
            <br/>
            <span>{{ property.garages }} vaga</span>
          </li>
          <li class="text-center">
            <i class="fa fa-paw"></i>
            <br/>
            <span>{{ property.pets_allowed ? 'Permitido' : 'Não permitido'  }}</span>
          </li>
          <li class="text-center">
            <i class="fa fa-building"></i>
            <br/>
            <span>{{ property.floor }}º andar</span>
          </li>
          <!-- <li class="text-center">
            <i class="fa fa-tv"></i>
            <br/>
            <span>Não</span>
          </li> -->
          <li class="text-center">
            <i class="fa fa-bus"></i>
            <br/>
            <span>{{ property.public_transportation ? 'Próximo' : 'Não' }}</span>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-2 col-sm-6">
        <div id="rental-fix" class="panel panel-rental hidden-xs" scroll-to-fixed="scrollToFixedOptions" >
          <div ng-include="'views/properties/_painel_valor_fixo.html'"></div>
        </div>
        <div class="panel panel-rental hidden-lg hidden-md hidden-sm" >
          <div ng-include="'views/properties/_painel_valor_fixo.html'"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-purple">
  <div class="container p-t-30 p-b-60">
    <div class="row">
      <div class="col-md-6">
        <h4 class="bold">Apartamento</h4>
        <div class="col-md-6">
          <h5 class="bold">Espaço</h5>
          <ul class="without-style">
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <span>Lorem ipsum:</span>
              <span class="bold">Dolor sit amet</span>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5 class="bold">Comodidades</h5>
          <ul class="without-style">
            <li class="m-b-10">
              <i class="fa fa-shopping-cart m-r-5"></i>
              <span>Lorem ipsun dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <i class="fa fa-tree m-r-5"></i>
              <span>Lorem ipsun dolor sit amet</span>
            </li>
            <li class="m-b-10">
              <i class="fa fa-subway  m-r-5"></i>
              <span>Lorem ipsun dolor sit amet</span>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <hr />
        <h4 class="bold">Condomínio</h4>
        <div class="col-md-6">
          <i class="fa fa-futbol-o m-r-5 m-b-10"></i>
          <span>Lorem ipsun dolor sit amet</span>
        </div>
        <div class="col-md-6">
          <i class="fa fa-bicycle m-r-5 m-b-10"></i>
          <span>Lorem ipsun dolor sit amet</span>
        </div>
        <div class="col-md-6">
          <i class="fa fa-umbrella m-r-5 m-b-10"></i>
          <span>Lorem ipsun dolor sit amet</span>
        </div>
        <div class="col-md-6">
          <i class="fa fa-road m-r-5 m-b-10"></i>
          <span>Lorem ipsun dolor sit amet</span>
        </div>
        <div class="col-md-6">
          <i class="fa fa-gamepad m-r-5 m-b-10"></i>
          <span>Lorem ipsun dolor sit amet</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="maps">
  <div class="container-fluid">
    <div class="row">
      <!-- <pre>{{ marker | json }}</pre> -->
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker idKey="marker.id"
                        coords="marker.coords"
                        options="marker.options">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</section>
<section class="bg-gray">
  <div class="container p-t-30 p-b-30">
    <div class="row">
      <h1 class="text-green text-center m-b-50">Apartamentos relacionados</h1>

      <div ng-if="!properties_related.length" >
        <h3 class="text-center"><i class="fa fa-frown-o "></i>  Nenhum apartamento encontrado</h3>
      </div>
      <slick arrows="true" slides-to-show="4" slides-to-scroll="1" infinite="true">
        <div class="panel panel-default properties-related" ng-repeat="propertie_related in properties_related">
          <div class="panel-heading properties-related">
            <img src="assets/imagens/imovel.jpg" class="img-full" alt="Responsive image">
          </div>
          <div class="panel-body properties-related">
            <h4 class="text-purple">{{propertie_related.address.street}}</h4>
            <p>{{propertie_related.address.neighborhood}}</p>
            <p>Lore ipsum morbmore this not the other thing, bla bla bla</p>
          </div>
        </div>
      </slick>
    </div>
  </div>
</section>
<div ng-include="'views/shared/_footer.html'"></div>
<div ng-include="'views/properties/scheduleVisitModal.htm'"></div>
