@media (min-width: 992px){
  .col-comecar {
    width: 30%;
  }

  .row-slider-full {
    height: 200px;
  }

  div#pictures {
    height: calc(100vh - 350px);
  }


  .footer-social {
    display: flex;
    justify-content: flex-end;
  }

  .footer-social div{
    text-align: center;
  }
}

@media (max-width: 768px) {
  .bg-man{
    background-position: right;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 70px; padding-top: 50px;
  }

  .btn-purple.full {
    font-size: 15px;
    padding: 15px 15px;
  }

  .search-wrapper {
    width: 100%;
  }

  .h1-principal {
    font-size: 25px;
    width: 100%;
    margin-bottom: 50px;
  }

  .font-18 {
    font-size: 16px;
  }

  .section-how-it-works {
    font-size: 16px;
  }

  .section-how-it-works p{
    width: 100%;
  }

  .navbar-home .navbar-collapse.collapse {
    display: none !important;
  }

  .social-content {
    float: none;
    text-align: left;
  }

  .logo-footer {
    display: flex;
    justify-content: center;
  }

  .footer-social {
    text-align: center;
  }
}


/* CACIANO ALTERACOES */
@media (max-width:1500px) {
  .property-list {
    padding: 0px !important;
  }
}

@media (max-width:1280px) {
  .profile-details {
    width: 100% !important;
    text-align: center;
  }
  .profile-img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .profile-properties-details {
    width: 100% !important;
  }
}

@media (max-width:768px) {
  .profile-properties-details {
    margin-top: 60px;
  }
  .text-responsive-center {
    text-align: center;
  }
}

@media(max-width:480px) {
  .profile-properties-details>div {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .responsive-properties-div,
  .responsive-properties-div>div {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
}